<section class="practice">
    <header class="section-hd">
        <span class="section-title-l"></span>
        <h2 class="section-title">工作经历</h2>
        <span class="section-title-r"></span>
    </header>
    <div class="section-bd">
        <!--经历:工作-->
        <div class="item">
            <header class="item-hd">
                <a class="link-icon" href="https://www.yanrongyun.com">
                    <%- include ../images/yanrogn-tech.logo.ejs %>
                </a>
                <div class="item-name-wrap">
                    <h3 class="item-name">焱融科技(北京)</h3>
                    <span class="item-time">2017.04 至今</span>
                </div>
            </header>
            <div class="item-bd">
                <p class="item-job">职位：前端负责人</p>
                <p class="item-des">
                    带领前端团队3人(2开发+1设计)负责
                    <a href="https://www.yanrongyun.com">焱融科技</a>
                    YRCloud私有云、
                    <a href="https://www.yanrongyun.com/zh-cn/product">YRCloudFile</a>
                    分布式文件存储、公有云平台等产品的控制台UI及中间层NodeJS服务开发，包括：
                </p>
                <ul class="section-content">
                    <li>负责团队基础技术支撑，包含构建工具、基础库、NodeJS微服务探索实践等</li>
                    <li>主导YRCloudFile、YRCloud、公有云平台等项目的搭建与编码规范、代码Review等</li>
                    <li>负责焱融科技官网项目搭建、开发及部署 (KeystoneJS + NextJS)</li>
                    <li>负责YRCloudFile公有云平台UI的项目搭建及开发 (ReactJS)</li>
                    <li>负责YRCloudFile公有云平台NodeJS计费、代金券、工单等系统开发 (NestJS)</li>
                    <li>负责YRCloudFile控制台UI、可视化安装UI、一体机可视化安装UI开发 (ReactJS、NextJS)</li>
                    <li>负责YRCloudFile Kubernetes CSIDriver 和 FlexVolume Driver 开发及维护 (Golang)</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <header class="item-hd">
                <a class="link-icon" href="https://www.ksyun.com">
                    <%- include ../images/ksyun.logo.ejs %>
                </a>
                <div class="item-name-wrap">
                    <h3 class="item-name">金山云(北京)</h3>
                    <span class="item-time">2015.07 至 2017.04 (2015.07 至 2016.06 为实习)</span>
                </div>
            </header>
            <div class="item-bd">
                <p class="item-job">职位：前端开发工程师</p>
                <p class="item-des">
                    于政企事业部参与
                    <a href="https://ksyun.com">金山云</a>
                    私有云
                    <a href="https://www.ksyun.com/nv/solution/GovCloud.html">KingStack</a>
                    产品的前端开发和Java开发，包括：
                </p>
                <ul class="section-content">
                    <li>负责KingStack控制台UI开发 (AngularJS V1 + RequireJS)</li>
                    <li>负责KingStack网络拓扑图开发 (SVG.js)</li>
                    <li>负责KingStack定时任务Java开发，定时开启关闭云主机，定时调整带宽，定时创建云主机快照等</li>
                    <li>负责KingStack资源统计Java开发，从不同维度统计集群资源(存储，计算，网络等)的用量</li>
                    <li>
                        负责
                        <a href="https://www.ksyun.com/cms/news/101.html">KingStore</a>
                        超融合存储控制台UI项目搭建和初期开发 (Vue)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
