<!--基本信息-->
<header class="content-hd">
    <section class="title">
        <div class="name">
            <h1>赵峰</h1>
        </div>
        <div class="job">
            <h2>前端开发工程师 | NodeJS开发工程师</h2>
        </div>
    </section>
    <section class="info">
        <ul>
            <li>男 / 1993.12</li>
            <li>大连东软信息学院 · 软件工程</li>
            <li>本科 / 2016年毕业 / 5年工作经验</li>
            <li>期望工作地点：深圳</li>
        </ul>
    </section>
    <section class="contact">
        <ul>
            <li>
                <a href="https://mxb.cc">
                    <span class="contact-link">个人网站</span>
                    <span class="iconfont">
                            <%- include ../images/website.icon.ejs %>
                        </span>
                </a>
            </li>
            <li>
                <a href="https://github.com/miaowing">
                    <span class="contact-link">Github - miaowing</span>
                    <span class="iconfont">
                            <%- include ../images/github.icon.ejs %>
                        </span>
                </a>
            </li>
            <li>
                <a href="mailto:me@mxb.cc">
                    <span class="contact-link">me@mxb.cc</span>
                    <span class="iconfont">
                            <%- include ../images/email.icon.ejs %>
                        </span>
                </a>
            </li>
            <li>
                <a href="tel:18742038812">
                    <span class="contact-link">18742038812</span>
                    <span class="iconfont">
                            <%- include ../images/tel.icon.ejs %>
                        </span>
                </a>
            </li>
        </ul>
    </section>
</header>
