<section class="skill">
    <header class="section-hd">
        <span class="section-title-l"></span>
        <h2 class="section-title">掌握技能</h2>
        <span class="section-title-r"></span>
    </header>
    <div class="content-left">
        <section class="section-bd">
            <!--技能:JS-->
            <div class="item">
                <header class="item-hd">
                    <span class="item-time">Web</span>
                </header>
                <div class="item-bd">
                    <ul class="section-content">
                        <li>熟知JS基本语法与知识，掌握最新ES6语法与API，熟练TypeScript</li>
                        <li>掌握网页重构所需的CSS、LESS</li>
                        <li>熟练React，会用Vue</li>
                    </ul>
                </div>
            </div>

            <!--React-->
            <div class="item">
                <header class="item-hd">
                    <span class="item-time">React</span>
                </header>
                <div class="item-bd">
                    <ul class="section-content">
                        <li>用React开发大型复杂应用，熟知React原理与生态技术栈经验丰富</li>
                        <li>掌握React调试、性能优化等扩展技能</li>
                    </ul>
                </div>
            </div>

            <!--Webpack-->
            <div class="item">
                <header class="item-hd">
                    <span class="item-time">Webpack</span>
                </header>
                <div class="item-bd">
                    <ul class="section-content">
                        <li>设计和优化了团队多个大型项目的构建工具</li>
                    </ul>
                </div>
            </div>

            <!--NodeJS-->
            <div class="item">
                <header class="item-hd">
                    <span class="item-time">NodeJS</span>
                </header>
                <div class="item-bd">
                    <ul class="section-content">
                        <li>掌握NodeJS标准库，在实际项目中多处使用NodeJS</li>
                        <li>用NodeJS开发过服务中间件等</li>
                        <li>熟练Express、Koa、NestJS等HTTP框架</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="content-right">
        <section class="section-bd">
            <!--网络协议-->
            <div class="item">
                <header class="item-hd">
                    <span class="item-time">网络协议</span>
                </header>
                <div class="item-bd">
                    <ul class="section-content">
                        <li>熟悉TCP与UDP协议</li>
                        <li>掌握HTTP协议，对新版HTTP2也有了解</li>
                    </ul>
                </div>
            </div>

            <!--Kubernetes-->
            <div class="item">
                <header class="item-hd">
                    <span class="item-time">Kubernetes</span>
                </header>
                <div class="item-bd">
                    <ul class="section-content">
                        <li>熟悉K8S PV,PVC,Deployment等</li>
                        <li>能编写Dockerfile,K8S YAML</li>
                        <li>开发过K8S CSIDriver 和 FlexVolume Driver</li>
                        <li>了解基本K8S故障排查流程</li>
                    </ul>
                </div>
            </div>

            <!--数据库-->
            <div class="item">
                <header class="item-hd">
                    <span class="item-time">数据库</span>
                </header>
                <div class="item-bd">
                    <ul class="section-content">
                        <li>熟悉SQL编写</li>
                        <li>熟悉MySQL事务</li>
                        <li>熟练TypeORM, Sequelize等ORM框架</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>
